.card {
    max-height: 230px;
    min-height: 230px;
    max-width: 450px;
    min-width: 450px;
}

#emailInput {
    margin-top: 25px;
    width: 400px;
}

.formHeader {
    padding-left:50px;
    padding-top: 20px;
    padding-right: 20px;
}

#helpInput {
    margin-top: 10px;
    width: 500px;
}

.imageHeight {
    height: 1000px !important;
}

#nameInput {
    margin-top: 10px;
    width: 400px;
}

.navbarHamburger {
    color: white;
}

.navItems {
    padding-left: 1800px;
}

.navItemsContact {
    padding-left: 1595px;
}

#numberInput {
    margin-top: 10px;
    width: 400px;
}

.submitBtn {
    margin-bottom: 15px;
    margin-top: 15px;
}

.webForm {
    align-content: center;
}